In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('IPL IMB381IPL2013.csv')
data.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
Sl.NO.           130 non-null int64
PLAYER NAME      130 non-null object
AGE              130 non-null int64
COUNTRY          130 non-null object
TEAM             130 non-null object
PLAYING ROLE     130 non-null object
T-RUNS           130 non-null int64
T-WKTS           130 non-null int64
ODI-RUNS-S       130 non-null int64
ODI-SR-B         130 non-null float64
ODI-WKTS         130 non-null int64
ODI-SR-BL        130 non-null float64
CAPTAINCY EXP    130 non-null int64
RUNS-S           130 non-null int64
HS               130 non-null int64
AVE              130 non-null float64
SR-B             130 non-null float64
SIXERS           130 non-null int64
RUNS-C           130 non-null int64
WKTS             130 non-null int64
AVE-BL           130 non-null float64
ECON             130 non-null float64
SR-BL            130 non-null float64
AUCTION YEAR     130 non-null int64
BASE PRICE       130 non-null int64
SOLD PRICE       130 non-null int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [4]:
data['TEAM'].unique()

array(['KXIP', 'RCB', 'KKR', 'CSK', 'CSK+', 'RR', 'RCB+', 'MI+', 'DD+',
       'KKR+', 'DC', 'MI', 'DC+', 'RR+', 'KXIP+', 'KXI+', 'DD'],
      dtype=object)

In [5]:
del data['Sl.NO.']
del data['PLAYER NAME']

In [6]:
data = pd.get_dummies(data, columns = ['COUNTRY', 'TEAM','PLAYING ROLE'])

data.head()

,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,...,TEAM_MI,TEAM_MI+,TEAM_RCB,TEAM_RCB+,TEAM_RR,TEAM_RR+,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper
0,2,0,0,0,0.00,0,0.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2,214,18,657,71.41,185,37.6,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,2,571,58,1269,80.62,288,32.9,0,167,39,...,0,0,0,0,0,0,0,0,1,0
3,1,284,31,241,84.56,51,36.8,0,58,11,...,0,0,0,0,0,0,0,0,1,0
4,2,63,0,79,45.93,0,0.0,0,1317,71,...,0,0,0,0,0,0,0,1,0,0

In [7]:
data.columns

Index(['AGE', 'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS',
       'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS',
       'RUNS-C', 'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR',
       'BASE PRICE', 'SOLD PRICE', 'COUNTRY_AUS', 'COUNTRY_BAN', 'COUNTRY_ENG',
       'COUNTRY_IND', 'COUNTRY_NZ', 'COUNTRY_PAK', 'COUNTRY_SA', 'COUNTRY_SL',
       'COUNTRY_WI', 'COUNTRY_ZIM', 'TEAM_CSK', 'TEAM_CSK+', 'TEAM_DC',
       'TEAM_DC+', 'TEAM_DD', 'TEAM_DD+', 'TEAM_KKR', 'TEAM_KKR+', 'TEAM_KXI+',
       'TEAM_KXIP', 'TEAM_KXIP+', 'TEAM_MI', 'TEAM_MI+', 'TEAM_RCB',
       'TEAM_RCB+', 'TEAM_RR', 'TEAM_RR+', 'PLAYING ROLE_Allrounder',
       'PLAYING ROLE_Batsman', 'PLAYING ROLE_Bowler',
       'PLAYING ROLE_W. Keeper'],
      dtype='object')

In [8]:
PRE_P=data['SOLD PRICE']

In [9]:
from sklearn.preprocessing import normalize

cols=data.columns

data=normalize(data, norm='l2',axis=1, copy=True, return_norm=False)

data = pd.DataFrame(data, columns = cols)

data.head()

,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,HS,...,TEAM_MI,TEAM_MI+,TEAM_RCB,TEAM_RCB+,TEAM_RR,TEAM_RR+,PLAYING ROLE_Allrounder,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper
0,0.000028,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000014,0.000000,0.000000,0.0
1,0.000028,0.003025,0.000254,0.009287,0.001009,0.002615,0.000532,0.0,0.000000,0.000000,...,0.0,0.0,0.000014,0.0,0.0,0.0,0.000000,0.000000,0.000014,0.0
2,0.000005,0.001416,0.000144,0.003148,0.000200,0.000714,0.000082,0.0,0.000414,0.000097,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000002,0.0
3,0.000001,0.000332,0.000036,0.000282,0.000099,0.000060,0.000043,0.0,0.000068,0.000013,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000001,0.0
4,0.000002,0.000078,0.000000,0.000098,0.000057,0.000000,0.000000,0.0,0.001634,0.000088,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000001,0.000000,0.0

In [10]:
POST_P=data['SOLD PRICE']

In [11]:
y_train=data.pop('SOLD PRICE')
x_train=data
del data

In [12]:
#from sklearn.model_selection import train_test_split

#x_train,x_test,y_train,y_test=train_test_split(X,Y,shuffle=True)
#del X,Y

In [13]:
x_train.shape

(130, 51)

In [14]:
y_train.shape

(130,)

In [15]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.9725097935636963

In [16]:
from sklearn.linear_model import Ridge

model=Ridge()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.9301235846564002

In [17]:
from sklearn.linear_model import Lasso

model=Lasso()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.0

In [18]:
from sklearn.tree import DecisionTreeRegressor

model=DecisionTreeRegressor()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.9999988672660597

AttributeError: 'tuple' object has no attribute 'fit'

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor()
model.fit(x_train,y_train)
model.score(x_train,y_train)

In [ ]:
y_train

In [ ]:
tmp=model.predict(x_train)

In [ ]:
tmp

In [ ]:
# POST_P,PRE_P

from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(3)
knn.fit(POST_P.values.reshape(-1,1), PRE_P)

In [ ]:

ans=knn.predict(tmp.reshape(-1,1))
ans=map(round,ans)
ans=map(int,ans)
ans=list(ans)
for i in ans: print(i)

In [ ]:
df=pd.read_csv('IPL IMB381IPL2013.csv')
df['ANS']=ans
df.to_csv('temp.csv',index=False)
del df['ANS']